@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("Validar", "Login", FormMethod.Post, new { @class = "login100-fom validate-form" }))
{

    <div class="jumbotron">

        <div class="logologin">
          <img src="~/Assets/images/logorefuerza1.png"  width="200" height="100"    />
  
        </div>



        <div class="wrap-input100 validate-input " data-validate="Enter email">
            <label  for="exampleInputEmail1" class="login">Email</label>
            <input type="email" class="form-control" name="_correo" aria-describedby="emailHelp" placeholder="Correo">
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
            <label class="login" for="exampleInputPassword1">Clave</label>
            <input type="password" class="form-control" name="_clave" placeholder="Clave">
        </div>

        <div class="container-login100-form-btn">

            <button data-ajax="true" type="submit" class="btn btn-success">Ingresar</button>
        </div>
    </div>

        }
        <div id="dropDownSelect1"></div>