@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("Validar", "Login", FormMethod.Post, new { @class = "login100-fom validate-form" }))
{
    <span class="login100-form-logo">
        <i class="zmdi zmdi-landscape"></i>
    </span>

    <span class="login100-form-title p-b-34 p-t-27">
        Log in
    </span>

    <div class="wrap-input100 validate-input" data-validate="Enter email">
        <input class="input100" type="email" name="_correo" placeholder="Correo" />
        <span class="focus-input100" data-placeholder="&#xf207;"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Enter password">
        <input class="input100" type="password" name="_clave" placeholder="Clave" />
        <span class="focus-input100" data-placeholder="&#xf191;"></span>
    </div>

    <div class="container-login100-form-btn">
        <button data-ajax="true" type="submit" class="login100-form-btn">
            Ingresar
        </button>
    </div>
}
<div id="dropDownSelect1"></div>