
@{
    ViewBag.Title = "Resolver";
}

<h2>Resolver Cuestionario</h2>

<div class="row clearfix">
</div>
<div class="col-md-1 column">
</div>
<div class="col-md-10 column">
    <p class="lead">Completo al 66%</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 66%;">
            <span class="sr-only">Completo al 66%</span>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Pregunta 1
            </h3>
        </div>
        <div class="panel-body">
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Questa è la risposta uno. Fossi in te, la lascerei perdere
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Forse la due si avvicina... ma non ci giurerei
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> Opzione tre — da' retta, è questa
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"> Sulla risposta quattro non ci metterei la mano sul fuoco...
                </label>
            </div>

        </div>
        <div class="panel-footer">
            <a href="#" class="btn btn-primary " role="button">Conferma</a>
            <a href="#" class="btn btn-default disabled" role="button">Avanti</a>
        </div>
    </div>
    <div class="col-md-1 column">
    </div>
</div>