@using HtmlHelpers.BeginCollectionItem
@model RefuerzaUPT.Models.Alternativa
@{
    Guid guid = Guid.NewGuid();
}
@Html.HiddenFor(m => m.alternativaID, new { @id = "Alternativa_" + guid + "__alternativaID" })
@if (Model.Pregunta.tipoPreguntaID == 2)
{
    <div class="input-group-prepend">
        <div class="input-group-text">
            @Html.CheckBoxFor(m => m.respuestaCorrecta, new { @onchange = "CambiarValor(this)", @id = "Alternativa_" + guid + "__respuestaCorrecta" })
        </div>
    </div>
    @Html.TextBoxFor(m => m.enunciadoAlternativa, new { @class = "form-control", @id = "Alternativa_" + guid + "__enunciadoAlternativa" })
    <input type="button" class="btn btn-outline-danger" id="Boton_@("Alternativa_" + guid + "__alternativaID")" onclick="EliminarAlternativa(this.id)" value="Eliminar" />
}