@model RefuerzaUPT.Models.Pregunta
@{ 
    List<RefuerzaUPT.Models.Alternativa> listaAlternativas = new List<RefuerzaUPT.Models.Alternativa>();
    try
    {
        listaAlternativas = new RefuerzaUPT.Models.Alternativa().ListarPorPregunta(Model.preguntaID);
    }
    catch (Exception) { }
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            @Model.enunciado
        </h3>
        @if(Model.imagen != null)
        {
            <h1>ACA HAY UNA IMAGEN</h1>
        }
    </div>
    <div class="panel-body">
        @foreach (var item in listaAlternativas)
        {
            @Html.Partial("_AlternativaPregunta", item)
        }
    </div>
</div>
<br />